h1, h2, #digital, p {
    text-align: center;
}
body {
    background-image: url(../assets/marble.jpg)
}
main {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h1 {
    font-size: 70px;
    font-family: sans-serif;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
    margin-bottom: 5px;
}
h2 {
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}
#jst {
    font-size: 25px;
    font-family: sans-serif;
}
#fun {
    font-family: "PhunScript", sans-serif;
    font-size: 28px;
    display: inline-block;
}
#eikyu {
    font-family: "LetiaNum", sans-serif;
    font-size: 32px;
}

content {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    box-sizing: border-box;
}
#digital {
    width: 34%;
    vertical-align:  top;
}
#analog {
    width: 34%;
    vertical-align:  top;
}
#funclock {
    width: 29%;
    text-align: center;
}
.contentwrapper {
    margin-bottom: 50px;
    box-sizing: border-box;
}
#clocks {
	display: block;
	width: 250px;
	height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 15px;
}
.clock {
	position: absolute;
}

.wrapper{
    max-width: 600px;
    width: 80%;
    color: #666;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#monthheader {
    text-align: center;
    font-size: 40px;
    width: 100%;
    margin: 1rem 0 0;
    font-family: "PhunScript", sans-serif;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th, td {
    outline: 1px solid rgb(222, 222, 222);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: "PhunScript", sans-serif;
    font-size: 20px;
    background-color: rgb(243, 243, 243);
}
/*日曜日*/
.days0 {
    color: rgb(142, 142, 142);
}
.days1 {
    color: rgb(142, 0, 0);
}
.days2 {
    color: rgb(142, 142, 0);
}
.days3 {
    color: rgb(0, 142, 0);
}
.days4 {
    color: rgb(0, 0, 142);
}
.days5 {
    color: rgb(0, 0, 0);
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #303030;
    color: #fff;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button{
    cursor: pointer;
    background: #606060;
    color: #fff;
    border: 1px solid #606060;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    background-color: #a0a0a0;
    border-color: #a0a0a0;
}
#prev {
    float: left;
}
#next {
    float: right;
}

th, td, #fun {
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    text-orientation: upright;
    -webkit-text-orientation: upright;
}

#convert {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.timeinputs {
    width: 15em;
    height: 1.5em;
    border: #014f41 2px solid;
    border-radius: 0.5em;
    margin: 0 20px;
}

@font-face {   
    font-family: "LetiaNum";
    src: url("/fonts/LetiaNum.ttf");
}
@font-face {   
    font-family: "PhunScript";
    src: url("/fonts/PhunWrite-Latest.woff") format("woff");
}